#exportPattern("^[[:alpha:]]+")
export(BCORSIS)
export(COX)
export(CRCDCS)
export(CRIS)
export(CoxConc)
export(FAST)
export(FDR)
export(FP)
export(IPOD)
export(LASSO)
export(RCDCS)
export(RESI2)
export(SIS)
export(TPR)
export(distcorr)
export(distcov)
export(distvar)
export(method.similarity)
export(methods.simplot)
export(mmms)
export(my.perfplot)
export(my.plotall.perf)
export(perfplot)
export(plotall.methodsim)
export(plotall.perf)
export(propallselected)
export(propselected)
importFrom(Rfast,dcor)
importFrom(Rcpp, evalCpp)
useDynLib(MVS, .registration = TRUE)
